openapi: 3.0.3
info:
  title: Gassapp
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://gassapp.shop'
paths:
  /api/v1/register:
    post:
      summary: Register
      operationId: register
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data: null
                  message: 'Registered successfully! We emailed you to verify your account!'
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'Registered successfully! We emailed you to verify your account!'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    first_name:
                      - 'The first name field is required.'
                    last_name:
                      - 'The last name field is required.'
                    email:
                      - 'The email field is required.'
                    password:
                      - 'The password field is required.'
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      first_name:
                        type: array
                        example:
                          - 'The first name field is required.'
                        items:
                          type: string
                      last_name:
                        type: array
                        example:
                          - 'The last name field is required.'
                        items:
                          type: string
                      email:
                        type: array
                        example:
                          - 'The email field is required.'
                        items:
                          type: string
                      password:
                        type: array
                        example:
                          - 'The password field is required.'
                        items:
                          type: string
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'The name of the user.'
                  example: distinctio
                last_name:
                  type: string
                  description: 'The name of the user.'
                  example: ea
                email:
                  type: string
                  description: 'The email of the user.'
                  example: legros.patsy@example.com
                password:
                  type: string
                  description: 'The password of user to create.'
                  example: '7U`HRJH01&D'
                phone:
                  type: string
                  description: 'The phone of the user.'
                  example: dolor
                password_confirmation:
                  type: string
                  description: 'The password confirmation.'
                  example: cupiditate
              required:
                - first_name
                - last_name
                - email
                - password
                - phone
                - password_confirmation
      security: []
  /api/v1/login:
    post:
      summary: Login
      operationId: login
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: false
                  data:
                    token: 1|aF5s7p3xxx1lVL8hkSrPN72m4wPVpTvTs...
                  message: null
                properties:
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 1|aF5s7p3xxx1lVL8hkSrPN72m4wPVpTvTs...
                  message:
                    type: string
                    example: null
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: ':attribute no es un correo válido.'
                  example: heller.aaron@example.net
                password:
                  type: string
                  description: 'The password of user to create.'
                  example: '?Lp!`)y'
                login:
                  type: string
                  description: 'The email/phone of the user.'
                  example: optio
              required:
                - email
                - password
                - login
      security: []
  /api/v1/password/forgot:
    post:
      summary: 'Forgot password'
      operationId: forgotPassword
      description: 'Send a reset link to the given user.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: pbrakus@example.net
              required:
                - email
      security: []
  /api/v1/resend-verify-account-email:
    post:
      summary: 'Resend email verification'
      operationId: resendEmailVerification
      description: 'Resend the email verification notification.'
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'The email of the user.'
                  example: schneider.winfield@example.org
              required:
                - email
      security: []
  /api/v1/logout:
    get:
      summary: Logout
      operationId: logout
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
      responses:
        302:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\" />\n        <meta http-equiv=\"refresh\" content=\"0;url='https://gassapp.shop/admin/login'\" />\n\n        <title>Redirecting to https://gassapp.shop/admin/login</title>\n    </head>\n    <body>\n        Redirecting to <a href=\"https://gassapp.shop/admin/login\">https://gassapp.shop/admin/login</a>.\n    </body>\n</html>"
      tags:
        - Authentication
  /api/v1/search:
    get:
      summary: 'Search post'
      operationId: searchPost
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: true
                  data: null
                  message: 'No se encontraron resultados...'
                properties:
                  error:
                    type: boolean
                    example: true
                  data:
                    type: string
                    example: null
                  message:
                    type: string
                    example: 'No se encontraron resultados...'
      tags:
        - Blog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  description: 'The search keyword.'
                  example: animi
              required:
                - q
      security: []
  /api/v1/posts:
    get:
      summary: 'List posts'
      operationId: listPosts
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: '4 Expert Tips On How To Choose The Right Men’s Wallet'
                      slug: 4-expert-tips-on-how-to-choose-the-right-mens-wallet
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/1.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 4
                          name: Commercial
                          slug: commercial
                          url: 'https://gassapp.shop/blog/commercial'
                          description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T06:09:54.000000Z'
                    -
                      id: 2
                      name: 'Sexy Clutches: How to Buy &amp; Wear a Designer Clutch Bag'
                      slug: sexy-clutches-how-to-buy-amp-wear-a-designer-clutch-bag
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/2.jpg'
                      categories:
                        -
                          id: 2
                          name: Fashion
                          slug: fashion
                          url: 'https://gassapp.shop/blog/fashion'
                          description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                        -
                          id: 4
                          name: Commercial
                          slug: commercial
                          url: 'https://gassapp.shop/blog/commercial'
                          description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T06:10:00.000000Z'
                    -
                      id: 3
                      name: 'The Top 2020 Handbag Trends to Know'
                      slug: the-top-2020-handbag-trends-to-know
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/3.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 3
                          name: Electronic
                          slug: electronic
                          url: 'https://gassapp.shop/blog/electronic'
                          description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T06:10:03.000000Z'
                    -
                      id: 4
                      name: 'How to Match the Color of Your Handbag With an Outfit'
                      slug: how-to-match-the-color-of-your-handbag-with-an-outfit
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/4.jpg'
                      categories:
                        -
                          id: 2
                          name: Fashion
                          slug: fashion
                          url: 'https://gassapp.shop/blog/fashion'
                          description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                        -
                          id: 3
                          name: Electronic
                          slug: electronic
                          url: 'https://gassapp.shop/blog/electronic'
                          description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T06:09:57.000000Z'
                    -
                      id: 5
                      name: 'How to Care for Leather Bags'
                      slug: how-to-care-for-leather-bags
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/5.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 3
                          name: Electronic
                          slug: electronic
                          url: 'https://gassapp.shop/blog/electronic'
                          description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-22T22:35:14.000000Z'
                    -
                      id: 6
                      name: 'We''re Crushing Hard on Summer''s 10 Biggest Bag Trends'
                      slug: were-crushing-hard-on-summers-10-biggest-bag-trends
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/6.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 3
                          name: Electronic
                          slug: electronic
                          url: 'https://gassapp.shop/blog/electronic'
                          description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-22T22:41:59.000000Z'
                    -
                      id: 7
                      name: 'Essential Qualities of Highly Successful Music'
                      slug: essential-qualities-of-highly-successful-music
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/7.jpg'
                      categories:
                        -
                          id: 2
                          name: Fashion
                          slug: fashion
                          url: 'https://gassapp.shop/blog/fashion'
                          description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                        -
                          id: 4
                          name: Commercial
                          slug: commercial
                          url: 'https://gassapp.shop/blog/commercial'
                          description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T02:55:13.000000Z'
                    -
                      id: 8
                      name: '9 Things I Love About Shaving My Head'
                      slug: 9-things-i-love-about-shaving-my-head
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/8.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 4
                          name: Commercial
                          slug: commercial
                          url: 'https://gassapp.shop/blog/commercial'
                          description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T02:52:37.000000Z'
                    -
                      id: 9
                      name: 'Why Teamwork Really Makes The Dream Work'
                      slug: why-teamwork-really-makes-the-dream-work
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/9.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 4
                          name: Commercial
                          slug: commercial
                          url: 'https://gassapp.shop/blog/commercial'
                          description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-23T02:49:49.000000Z'
                    -
                      id: 10
                      name: 'The World Caters to Average People'
                      slug: the-world-caters-to-average-people
                      description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                      image: 'https://gassapp.shop/storage/news/10.jpg'
                      categories:
                        -
                          id: 1
                          name: Ecommerce
                          slug: ecommerce
                          url: 'https://gassapp.shop/blog/ecommerce'
                          description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        -
                          id: 3
                          name: Electronic
                          slug: electronic
                          url: 'https://gassapp.shop/blog/electronic'
                          description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                      tags:
                        -
                          id: 1
                          name: General
                          slug: general
                          description: ''
                        -
                          id: 2
                          name: Design
                          slug: design
                          description: ''
                        -
                          id: 3
                          name: Fashion
                          slug: fashion
                          description: ''
                        -
                          id: 4
                          name: Branding
                          slug: branding
                          description: ''
                        -
                          id: 5
                          name: Modern
                          slug: modern
                          description: ''
                      created_at: '2023-02-11T23:48:23.000000Z'
                      updated_at: '2024-03-22T22:38:56.000000Z'
                  links:
                    first: 'https://gassapp.shop/api/v1/posts?page=1'
                    last: 'https://gassapp.shop/api/v1/posts?page=2'
                    prev: null
                    next: 'https://gassapp.shop/api/v1/posts?page=2'
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 2
                    links:
                      -
                        url: null
                        label: '&laquo; Anterior'
                        active: false
                      -
                        url: 'https://gassapp.shop/api/v1/posts?page=1'
                        label: '1'
                        active: true
                      -
                        url: 'https://gassapp.shop/api/v1/posts?page=2'
                        label: '2'
                        active: false
                      -
                        url: 'https://gassapp.shop/api/v1/posts?page=2'
                        label: 'Siguiente &raquo;'
                        active: false
                    path: 'https://gassapp.shop/api/v1/posts'
                    per_page: 10
                    to: 10
                    total: 11
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: '4 Expert Tips On How To Choose The Right Men’s Wallet'
                        slug: 4-expert-tips-on-how-to-choose-the-right-mens-wallet
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/1.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 4
                            name: Commercial
                            slug: commercial
                            url: 'https://gassapp.shop/blog/commercial'
                            description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T06:09:54.000000Z'
                      -
                        id: 2
                        name: 'Sexy Clutches: How to Buy &amp; Wear a Designer Clutch Bag'
                        slug: sexy-clutches-how-to-buy-amp-wear-a-designer-clutch-bag
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/2.jpg'
                        categories:
                          -
                            id: 2
                            name: Fashion
                            slug: fashion
                            url: 'https://gassapp.shop/blog/fashion'
                            description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                          -
                            id: 4
                            name: Commercial
                            slug: commercial
                            url: 'https://gassapp.shop/blog/commercial'
                            description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T06:10:00.000000Z'
                      -
                        id: 3
                        name: 'The Top 2020 Handbag Trends to Know'
                        slug: the-top-2020-handbag-trends-to-know
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/3.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 3
                            name: Electronic
                            slug: electronic
                            url: 'https://gassapp.shop/blog/electronic'
                            description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T06:10:03.000000Z'
                      -
                        id: 4
                        name: 'How to Match the Color of Your Handbag With an Outfit'
                        slug: how-to-match-the-color-of-your-handbag-with-an-outfit
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/4.jpg'
                        categories:
                          -
                            id: 2
                            name: Fashion
                            slug: fashion
                            url: 'https://gassapp.shop/blog/fashion'
                            description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                          -
                            id: 3
                            name: Electronic
                            slug: electronic
                            url: 'https://gassapp.shop/blog/electronic'
                            description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T06:09:57.000000Z'
                      -
                        id: 5
                        name: 'How to Care for Leather Bags'
                        slug: how-to-care-for-leather-bags
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/5.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 3
                            name: Electronic
                            slug: electronic
                            url: 'https://gassapp.shop/blog/electronic'
                            description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-22T22:35:14.000000Z'
                      -
                        id: 6
                        name: 'We''re Crushing Hard on Summer''s 10 Biggest Bag Trends'
                        slug: were-crushing-hard-on-summers-10-biggest-bag-trends
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/6.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 3
                            name: Electronic
                            slug: electronic
                            url: 'https://gassapp.shop/blog/electronic'
                            description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-22T22:41:59.000000Z'
                      -
                        id: 7
                        name: 'Essential Qualities of Highly Successful Music'
                        slug: essential-qualities-of-highly-successful-music
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/7.jpg'
                        categories:
                          -
                            id: 2
                            name: Fashion
                            slug: fashion
                            url: 'https://gassapp.shop/blog/fashion'
                            description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                          -
                            id: 4
                            name: Commercial
                            slug: commercial
                            url: 'https://gassapp.shop/blog/commercial'
                            description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T02:55:13.000000Z'
                      -
                        id: 8
                        name: '9 Things I Love About Shaving My Head'
                        slug: 9-things-i-love-about-shaving-my-head
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/8.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 4
                            name: Commercial
                            slug: commercial
                            url: 'https://gassapp.shop/blog/commercial'
                            description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T02:52:37.000000Z'
                      -
                        id: 9
                        name: 'Why Teamwork Really Makes The Dream Work'
                        slug: why-teamwork-really-makes-the-dream-work
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/9.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 4
                            name: Commercial
                            slug: commercial
                            url: 'https://gassapp.shop/blog/commercial'
                            description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-23T02:49:49.000000Z'
                      -
                        id: 10
                        name: 'The World Caters to Average People'
                        slug: the-world-caters-to-average-people
                        description: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image: 'https://gassapp.shop/storage/news/10.jpg'
                        categories:
                          -
                            id: 1
                            name: Ecommerce
                            slug: ecommerce
                            url: 'https://gassapp.shop/blog/ecommerce'
                            description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                          -
                            id: 3
                            name: Electronic
                            slug: electronic
                            url: 'https://gassapp.shop/blog/electronic'
                            description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                        tags:
                          -
                            id: 1
                            name: General
                            slug: general
                            description: ''
                          -
                            id: 2
                            name: Design
                            slug: design
                            description: ''
                          -
                            id: 3
                            name: Fashion
                            slug: fashion
                            description: ''
                          -
                            id: 4
                            name: Branding
                            slug: branding
                            description: ''
                          -
                            id: 5
                            name: Modern
                            slug: modern
                            description: ''
                        created_at: '2023-02-11T23:48:23.000000Z'
                        updated_at: '2024-03-22T22:38:56.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: '4 Expert Tips On How To Choose The Right Men’s Wallet'
                        slug:
                          type: string
                          example: 4-expert-tips-on-how-to-choose-the-right-mens-wallet
                        description:
                          type: string
                          example: 'You should pay more attention when you choose your wallets. There are a lot of them on the market with the different designs and styles. When you choose carefully, you would be able to buy a wallet that is catered to your needs. Not to mention that it will help to enhance your style significantly.'
                        image:
                          type: string
                          example: 'https://gassapp.shop/storage/news/1.jpg'
                        categories:
                          type: array
                          example:
                            -
                              id: 1
                              name: Ecommerce
                              slug: ecommerce
                              url: 'https://gassapp.shop/blog/ecommerce'
                              description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                            -
                              id: 4
                              name: Commercial
                              slug: commercial
                              url: 'https://gassapp.shop/blog/commercial'
                              description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: Ecommerce
                              slug:
                                type: string
                                example: ecommerce
                              url:
                                type: string
                                example: 'https://gassapp.shop/blog/ecommerce'
                              description:
                                type: string
                                example: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        tags:
                          type: array
                          example:
                            -
                              id: 1
                              name: General
                              slug: general
                              description: ''
                            -
                              id: 2
                              name: Design
                              slug: design
                              description: ''
                            -
                              id: 3
                              name: Fashion
                              slug: fashion
                              description: ''
                            -
                              id: 4
                              name: Branding
                              slug: branding
                              description: ''
                            -
                              id: 5
                              name: Modern
                              slug: modern
                              description: ''
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                                example: 1
                              name:
                                type: string
                                example: General
                              slug:
                                type: string
                                example: general
                              description:
                                type: string
                                example: ''
                        created_at:
                          type: string
                          example: '2023-02-11T23:48:23.000000Z'
                        updated_at:
                          type: string
                          example: '2024-03-23T06:09:54.000000Z'
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts?page=1'
                      last:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts?page=2'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts?page=2'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 2
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Anterior'
                            active: false
                          -
                            url: 'https://gassapp.shop/api/v1/posts?page=1'
                            label: '1'
                            active: true
                          -
                            url: 'https://gassapp.shop/api/v1/posts?page=2'
                            label: '2'
                            active: false
                          -
                            url: 'https://gassapp.shop/api/v1/posts?page=2'
                            label: 'Siguiente &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Anterior'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 10
                      total:
                        type: integer
                        example: 11
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  /api/v1/categories:
    get:
      summary: 'List categories'
      operationId: listCategories
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: Ecommerce
                      slug: ecommerce
                      description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                      children: []
                      parent:
                        id: null
                        name: ''
                        slug: ''
                        url: 'https://gassapp.shop'
                        description: ''
                    -
                      id: 2
                      name: Fashion
                      slug: fashion
                      description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                      children: []
                      parent:
                        id: null
                        name: ''
                        slug: ''
                        url: 'https://gassapp.shop'
                        description: ''
                    -
                      id: 3
                      name: Electronic
                      slug: electronic
                      description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                      children: []
                      parent:
                        id: null
                        name: ''
                        slug: ''
                        url: 'https://gassapp.shop'
                        description: ''
                    -
                      id: 4
                      name: Commercial
                      slug: commercial
                      description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                      children: []
                      parent:
                        id: null
                        name: ''
                        slug: ''
                        url: 'https://gassapp.shop'
                        description: ''
                  links:
                    first: 'https://gassapp.shop/api/v1/categories?page=1'
                    last: 'https://gassapp.shop/api/v1/categories?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Anterior'
                        active: false
                      -
                        url: 'https://gassapp.shop/api/v1/categories?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Siguiente &raquo;'
                        active: false
                    path: 'https://gassapp.shop/api/v1/categories'
                    per_page: 10
                    to: 4
                    total: 4
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: Ecommerce
                        slug: ecommerce
                        description: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        children: []
                        parent:
                          id: null
                          name: ''
                          slug: ''
                          url: 'https://gassapp.shop'
                          description: ''
                      -
                        id: 2
                        name: Fashion
                        slug: fashion
                        description: 'Est saepe quas non dignissimos eum soluta aliquam. Sapiente molestiae in eligendi ratione dolores. Est facilis rem sit quidem numquam corporis vero repellat.'
                        children: []
                        parent:
                          id: null
                          name: ''
                          slug: ''
                          url: 'https://gassapp.shop'
                          description: ''
                      -
                        id: 3
                        name: Electronic
                        slug: electronic
                        description: 'Nobis fugiat itaque unde quidem consequatur. Et ea natus et consequuntur porro rerum eligendi quis. Ipsum voluptatem blanditiis quaerat et quidem dolorem. Sapiente dolorum repellendus sunt odio.'
                        children: []
                        parent:
                          id: null
                          name: ''
                          slug: ''
                          url: 'https://gassapp.shop'
                          description: ''
                      -
                        id: 4
                        name: Commercial
                        slug: commercial
                        description: 'Sapiente id hic iure ut pariatur. Non qui reprehenderit aut dolor sit eaque atque. Rem aliquid excepturi repellendus aperiam libero aspernatur corporis facilis.'
                        children: []
                        parent:
                          id: null
                          name: ''
                          slug: ''
                          url: 'https://gassapp.shop'
                          description: ''
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: Ecommerce
                        slug:
                          type: string
                          example: ecommerce
                        description:
                          type: string
                          example: 'Aperiam dignissimos non aut sunt. Et voluptatem enim qui et. Nobis voluptatibus sapiente sunt similique eligendi odit. Odit provident rerum quia.'
                        children:
                          type: array
                          example: []
                        parent:
                          type: object
                          properties:
                            id:
                              type: string
                              example: null
                            name:
                              type: string
                              example: ''
                            slug:
                              type: string
                              example: ''
                            url:
                              type: string
                              example: 'https://gassapp.shop'
                            description:
                              type: string
                              example: ''
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://gassapp.shop/api/v1/categories?page=1'
                      last:
                        type: string
                        example: 'https://gassapp.shop/api/v1/categories?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Anterior'
                            active: false
                          -
                            url: 'https://gassapp.shop/api/v1/categories?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Siguiente &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Anterior'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://gassapp.shop/api/v1/categories'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 4
                      total:
                        type: integer
                        example: 4
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  /api/v1/tags:
    get:
      summary: 'List tags'
      operationId: listTags
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: General
                      slug: general
                      description: ''
                    -
                      id: 2
                      name: Design
                      slug: design
                      description: ''
                    -
                      id: 3
                      name: Fashion
                      slug: fashion
                      description: ''
                    -
                      id: 4
                      name: Branding
                      slug: branding
                      description: ''
                    -
                      id: 5
                      name: Modern
                      slug: modern
                      description: ''
                  links:
                    first: 'https://gassapp.shop/api/v1/tags?page=1'
                    last: 'https://gassapp.shop/api/v1/tags?page=1'
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    links:
                      -
                        url: null
                        label: '&laquo; Anterior'
                        active: false
                      -
                        url: 'https://gassapp.shop/api/v1/tags?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Siguiente &raquo;'
                        active: false
                    path: 'https://gassapp.shop/api/v1/tags'
                    per_page: 10
                    to: 5
                    total: 5
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: General
                        slug: general
                        description: ''
                      -
                        id: 2
                        name: Design
                        slug: design
                        description: ''
                      -
                        id: 3
                        name: Fashion
                        slug: fashion
                        description: ''
                      -
                        id: 4
                        name: Branding
                        slug: branding
                        description: ''
                      -
                        id: 5
                        name: Modern
                        slug: modern
                        description: ''
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: General
                        slug:
                          type: string
                          example: general
                        description:
                          type: string
                          example: ''
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://gassapp.shop/api/v1/tags?page=1'
                      last:
                        type: string
                        example: 'https://gassapp.shop/api/v1/tags?page=1'
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: null
                            label: '&laquo; Anterior'
                            active: false
                          -
                            url: 'https://gassapp.shop/api/v1/tags?page=1'
                            label: '1'
                            active: true
                          -
                            url: null
                            label: 'Siguiente &raquo;'
                            active: false
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              example: null
                            label:
                              type: string
                              example: '&laquo; Anterior'
                            active:
                              type: boolean
                              example: false
                      path:
                        type: string
                        example: 'https://gassapp.shop/api/v1/tags'
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 5
                      total:
                        type: integer
                        example: 5
                  error:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: null
      tags:
        - Blog
      security: []
  /api/v1/posts/filters:
    get:
      summary: 'Filters posts'
      operationId: filtersPosts
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Current page of the collection. Default: 1'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Current page of the collection. Default: 1'
            example: 3
        -
          in: query
          name: per_page
          description: 'Maximum number of items to be returned in result set.Default: 10'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Maximum number of items to be returned in result set.Default: 10'
            example: 5
        -
          in: query
          name: search
          description: 'Limit results to those matching a string.'
          example: eos
          required: false
          schema:
            type: string
            description: 'Limit results to those matching a string.'
            example: eos
        -
          in: query
          name: after
          description: 'Limit response to posts published after a given ISO8601 compliant date.'
          example: eos
          required: false
          schema:
            type: string
            description: 'Limit response to posts published after a given ISO8601 compliant date.'
            example: eos
        -
          in: query
          name: author
          description: 'Limit result set to posts assigned to specific authors.'
          example: et
          required: false
          schema:
            type: string
            description: 'Limit result set to posts assigned to specific authors.'
            example: et
        -
          in: query
          name: author_exclude
          description: 'Ensure result set excludes posts assigned to specific authors.'
          example: porro
          required: false
          schema:
            type: string
            description: 'Ensure result set excludes posts assigned to specific authors.'
            example: porro
        -
          in: query
          name: before
          description: 'Limit response to posts published before a given ISO8601 compliant date.'
          example: vel
          required: false
          schema:
            type: string
            description: 'Limit response to posts published before a given ISO8601 compliant date.'
            example: vel
        -
          in: query
          name: exclude
          description: 'Ensure result set excludes specific IDs.'
          example: distinctio
          required: false
          schema:
            type: string
            description: 'Ensure result set excludes specific IDs.'
            example: distinctio
        -
          in: query
          name: include
          description: 'Limit result set to specific IDs.'
          example: ullam
          required: false
          schema:
            type: string
            description: 'Limit result set to specific IDs.'
            example: ullam
        -
          in: query
          name: order
          description: 'Order sort attribute ascending or descending. Default: desc .One of: asc, desc'
          example: atque
          required: false
          schema:
            type: string
            description: 'Order sort attribute ascending or descending. Default: desc .One of: asc, desc'
            example: atque
        -
          in: query
          name: order_by
          description: 'Sort collection by object attribute. Default: updated_at. One of: author, created_at, updated_at, id,  slug, title'
          example: consequuntur
          required: false
          schema:
            type: string
            description: 'Sort collection by object attribute. Default: updated_at. One of: author, created_at, updated_at, id,  slug, title'
            example: consequuntur
        -
          in: query
          name: categories
          description: 'Limit result set to all items that have the specified term assigned in the categories taxonomy.'
          example: enim
          required: false
          schema:
            type: string
            description: 'Limit result set to all items that have the specified term assigned in the categories taxonomy.'
            example: enim
        -
          in: query
          name: categories_exclude
          description: 'Limit result set to all items except those that have the specified term assigned in the categories taxonomy.'
          example: qui
          required: false
          schema:
            type: string
            description: 'Limit result set to all items except those that have the specified term assigned in the categories taxonomy.'
            example: qui
        -
          in: query
          name: tags
          description: 'Limit result set to all items that have the specified term assigned in the tags taxonomy.'
          example: cumque
          required: false
          schema:
            type: string
            description: 'Limit result set to all items that have the specified term assigned in the tags taxonomy.'
            example: cumque
        -
          in: query
          name: tags_exclude
          description: 'Limit result set to all items except those that have the specified term assigned in the tags taxonomy.'
          example: minus
          required: false
          schema:
            type: string
            description: 'Limit result set to all items except those that have the specified term assigned in the tags taxonomy.'
            example: minus
        -
          in: query
          name: featured
          description: 'Limit result set to items that are sticky.'
          example: sed
          required: false
          schema:
            type: string
            description: 'Limit result set to items that are sticky.'
            example: sed
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
        -
          in: header
          name: Api-Version
          description: ''
          example: v1
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  links:
                    first: 'https://gassapp.shop/api/v1/posts/filters?page=1'
                    last: 'https://gassapp.shop/api/v1/posts/filters?page=1'
                    prev: 'https://gassapp.shop/api/v1/posts/filters?page=2'
                    next: null
                  meta:
                    current_page: 3
                    from: null
                    last_page: 1
                    links:
                      -
                        url: 'https://gassapp.shop/api/v1/posts/filters?page=2'
                        label: '&laquo; Anterior'
                        active: false
                      -
                        url: 'https://gassapp.shop/api/v1/posts/filters?page=1'
                        label: '1'
                        active: false
                      -
                        url: null
                        label: 'Siguiente &raquo;'
                        active: false
                    path: 'https://gassapp.shop/api/v1/posts/filters'
                    per_page: 5
                    to: null
                    total: 0
                  error: false
                  message: null
                properties:
                  data:
                    type: array
                    example: []
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts/filters?page=1'
                      last:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts/filters?page=1'
                      prev:
                        type: string
                        example: 'https://gassapp.shop/api/v1/posts/filters?page=2'
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 3
                      from:
                        type: string
                        example: null
                      last_page:
                        type: integer
                        example: 1
                      links:
                        type: array
                        example:
                          -
                            url: 'https://gassapp.shop/api/v1/posts/filters?page=2'
                            label: '&laquo; Anterior'
                            active: false
[...]
